.calculator
    width: 100%
    min-height: 100%
    padding: 24px
    background: #E6E6E6
    color: hsl(60, 10%, 19%)
    display: flex
    align-items: center
    justify-content: center
    transition: 0.6s
    &__body
        margin: auto
        width: 100%
        max-width: 335px
        .top
            margin: 0 0 30px 0
            display: flex
            justify-content: space-between
            align-items: center
            &__trigger
                display: flex
                align-items: flex-end
                .label
                    padding: 0 24px 4px 0
                    font-size: 0.46rem
                    text-transform: uppercase
                .trigger
                    .value
                        margin: 0 0 2px 0
                        padding: 3px
                        display: flex
                        gap: 3px
                        font-size: 0.5rem
                        div
                            flex: 0 0 20px
                            text-align: center
                    .control
                        padding: 3px
                        height: 26px
                        width: 72px
                        background: linear-gradient(to bottom, #D0CCCB, #D5CDCA)
                        border-radius: 12px
                        position: relative
                        display: flex
                        gap: 3px
                        div
                            flex: 0 0 20px
                            border-radius: 10px
                            cursor: pointer
                            // background: green
                        .target
                            width: 20px
                            height: 20px
                            background: #C35500
                            border-radius: 10px
                            position: absolute
                            top: 3px
                            left: 26px
                            z-index: 10
                            pointer-events: none
                            transition: 0.3s
        .display
            width: 100%
            height: 90px
            margin: 0 0 24px 0
            padding: 0 24px
            background: #EEEEEE
            font-size: 34px
            line-height: 94px
            text-align: right
            border-radius: 10px
            transition: 0.3s
            div
                display: flex
                justify-content: flex-end
                overflow: hidden
        .buttons
            padding: 22px
            background: #D3CDCD
            border-radius: 12px
            display: grid
            grid-template-columns: repeat(4, 1fr)
            gap: 12px
            button
                height: 64px
                padding: 0.5rem 0 0.3rem 0
                font-family: inherit
                font-size: 0.9rem
                font-weight: 700
                line-height: 1
                background: #E5E4E0
                border-radius: 6px
                border-top: none
                border-left: none
                border-right: none
                border-bottom: 4px solid #A69F8F
                outline: none
                display: block
                &.clear
                    font-size: 0.56rem
                    background: linear-gradient(to bottom, #3A8088, #388187)
                    border-bottom: 4px solid #1A5D65
                    color: #FFFFFF
                &.reset
                    font-size: 0.56rem
                    background: linear-gradient(to bottom, #3A8088, #388187)
                    border-bottom: 4px solid #1A5D65
                    color: #FFFFFF
                    grid-column-start: 1
                    grid-column-end: 3
                &.total
                    font-size: 0.6rem
                    background: linear-gradient(to bottom, #C75403, #C85401)
                    border-bottom: 4px solid #893A02
                    color: #FFFFFF
                    grid-column-start: 3
                    grid-column-end: 5
