.calculator.hard
    color: #FFEC44
    background: #17062A
    .calculator__body
        .top
            &__trigger
                .trigger
                    .value
                    .control
                        background: linear-gradient(to bottom, #1E0837, #1E0837)
                        .target
                            background: #00D9CE
                            left: 49px
        .display
            background: #1E0836
        .buttons
            background: #1E0836
            button
                color: #FFE842
                background: #331B4D
                border-bottom: 4px solid #851C9C
                &.clear
                    background: linear-gradient(to bottom, #55087C, #56077C)
                    border-bottom: 4px solid #BF16F5
                    color: #FFFFFF
                &.reset
                    background: linear-gradient(to bottom, #55087C, #56077C)
                    border-bottom: 4px solid #BF16F5
                    color: #FFFFFF
                &.total
                    background: linear-gradient(to bottom, #00DECF, #00DECF)
                    border-bottom: 4px solid #6DFAF1
                    color: hsl(60, 10%, 19%)