.calculator.medium
    color: #FFFFFF
    background: #3B4664
    .calculator__body
        .top
            &__trigger
                .trigger
                    .value
                    .control
                        background: linear-gradient(to bottom, #252D44, #252D44)
                        .target
                            background: #C35500
                            left: 3px
        .display
            background: #181F32
        .buttons
            background: #252D44
            button
                background: #EAE3DB
                border-bottom: 4px solid #B6A49A
                &.clear
                    background: linear-gradient(to bottom, #64719B, #647299)
                    border-bottom: 4px solid #424E74
                    color: #FFFFFF
                &.reset
                    background: linear-gradient(to bottom, #64719B, #647299)
                    border-bottom: 4px solid #424E74
                    color: #FFFFFF
                &.total
                    background: linear-gradient(to bottom, #CF4030, #D13F30)
                    border-bottom: 4px solid #992315
                    color: #FFFFFF