.calculator.medium
    color: #FFFFFF
    background: #3B4664
    .calculator__body
        .top
            &__trigger
                .trigger
                    .value
                    .control
                        background: linear-gradient(to bottom, #252D44, #252D44)
                        .target
                            background: #C35500
                            left: 3px
        .display
            background: #181F32